<app-navbar></app-navbar>

<router-outlet></router-outlet>


<section class="banner-section">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-6">
                <!-- Box with light shadow -->
                <div class="heading-box">
                    <h1 class="box-heading">#1 Offer Block Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                </div>

                <!-- Larger heading with span for last two words -->
                <h2 class="large-heading">
                    Serendipity led me to unexpected adventures today.<span class="highlight"> OfferBlock</span>
                </h2>

                <!-- Paragraph with lorem text -->
                <p class="banner-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>

                <!-- Buttons -->
                <div class="button-group mt-3">
                    <a href="#" class="button-demo">Get A Demo<i class="bi bi-arrow-right-circle-fill"></i></a>
                    <a routerLink="/landing/dashboard" class="button-dash">Dashboard<i
                            class="bi bi-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <video class="banner-video" autoplay muted loop>
                    <source src="your-video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</section>


<!-- <section class="what-we-do text-center py-5">
    <div class="container">
        <h2 class="section-title">What We Do</h2>
        <hr class="section-line"> 

        <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <div class="row mt-5">
            <div class="col-lg-6">
                <h3 class="sub-heading">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
                <p class="service-description">We offer a range of services to help you achieve your business goals.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum illum, obcaecati, nemo velit
                    explicabo numquam aliquid incidunt maiores rerum tenetur dolorem perferendis quas cum fugiat omnis
                    inventore sed unde minima?</p>

                <div class="icon-group mt-4">
                    <div class="icon-item d-flex align-items-start mb-3">
                        <i class="bi bi-briefcase-fill icon"></i>
                        <p class="icon-text">Professional Consulting Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="icon-item d-flex align-items-start mb-3">
                        <i class="bi bi-gear-fill icon"></i>
                        <p class="icon-text">Custom Solutions Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="icon-item d-flex align-items-start mb-3">
                        <i class="bi bi-people-fill icon"></i>
                        <p class="icon-text">Team Collaboration Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="icon-item d-flex align-items-start mb-3">
                        <i class="bi bi-globe icon"></i>
                        <p class="icon-text">Global Reach Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="button-group mt-3">
                    <a href="#" class="button-demo">Get A Demo<i class="bi bi-arrow-right-circle-fill"></i></a>
                </div>
            </div>

            <div class="col-lg-6">
                <img src="../../../assets/image/4153553.jpg" alt="Vector Image" class="img-fluid">
            </div>
        </div>
    </div>
</section> -->




<section id="what-we-do" class="py-5">
    <h2 class="section-title">What We Do</h2>
    <hr class="section-line">

    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="container-fluid">
        <div class="row">
            <!-- Card 1 -->
            <div class="col-lg-6 col-md-12">
                <div class="card shadow d-flex flex-column flex-md-row align-items-center">
                    <div class="card-content-left">
                        <h4 class="card-title">Heading 1</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="learn-more-link">Learn More <i class="bi bi-arrow-right"></i></a>
                    </div>
                    <div class="ml-auto card-content-right bg-pink">
                        <div class="icon-wrapper">
                            <img src="../../../assets/1.png" alt="Service Icon" class="icon-image">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-lg-6 col-md-12">
                <div class="card shadow d-flex flex-column flex-md-row align-items-center">
                    <div class="card-content-left">
                        <h4 class="card-title">Heading 2</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="learn-more-link">Learn More <i class="bi bi-arrow-right"></i></a>
                    </div>
                    <div class="ml-auto card-content-right bg-pink">
                        <div class="icon-wrapper">
                            <img src="../../../assets/1.png" alt="Service Icon" class="icon-image">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-lg-6 col-md-12">
                <div class="card shadow d-flex flex-column flex-md-row align-items-center">
                    <div class="card-content-left">
                        <h4 class="card-title">Heading 3</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="learn-more-link">Learn More <i class="bi bi-arrow-right"></i></a>
                    </div>
                    <div class="ml-auto card-content-right bg-pink">
                        <div class="icon-wrapper">
                            <img src="../../../assets/1.png" alt="Service Icon" class="icon-image">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-lg-6 col-md-12">
                <div class="card shadow d-flex flex-column flex-md-row align-items-center">
                    <div class="card-content-left">
                        <h4 class="card-title">Heading 4</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="learn-more-link">Learn More <i class="bi bi-arrow-right"></i></a>
                    </div>
                    <div class="ml-auto card-content-right bg-pink">
                        <div class="icon-wrapper">
                            <img src="../../../assets/1.png" alt="Service Icon" class="icon-image">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 5 -->
            <div class="col-lg-6 col-md-12">
                <div class="card shadow d-flex flex-column flex-md-row align-items-center">
                    <div class="card-content-left">
                        <h4 class="card-title">Heading 5</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="learn-more-link">Learn More <i class="bi bi-arrow-right"></i></a>
                    </div>
                    <div class="ml-auto card-content-right bg-pink">
                        <div class="icon-wrapper">
                            <img src="../../../assets/1.png" alt="Service Icon" class="icon-image">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 6 -->
            <div class="col-lg-6 col-md-12">
                <div class="card shadow d-flex flex-column flex-md-row align-items-center">
                    <div class="card-content-left">
                        <h4 class="card-title">Heading 6</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="learn-more-link">Learn More <i class="bi bi-arrow-right"></i></a>
                    </div>
                    <div class="ml-auto card-content-right bg-pink">
                        <div class="icon-wrapper">
                            <img src="../../../assets/1.png" alt="Service Icon" class="icon-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- <section class="custom-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="large-whatwedo">
                    Discover Our Lorem ipsum dolor sit amet consectetur adipisicing elit.<span
                        class="highlighted">Amazing Services</span>
                </h2>
                <p class="description-whatwedo mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem,
                    ipsum dolor sit amet consectetur adipisicing elit. Libero mollitia esse quaerat nemo veritatis quas
                    vel minima aliquid! Maiores asperiores commodi soluta dolores corrupti tenetur dolorum deserunt
                    autem officia doloribus?</p>
                <div class="button-group mt-3">
                    <a href="#" class="button-demo">Get A Demo<i class="bi bi-arrow-right-circle-fill"></i></a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-4">
                        <div class="service-card">
                            <i class="bi bi-briefcase-fill card-icon"></i>
                            <h4 class="card-title">Consulting</h4>
                            <p class="card-text">We offer expert consulting services to help your business grow. Lorem
                                ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                                consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-card">
                            <i class="bi bi-gear-fill card-icon"></i>
                            <h4 class="card-title">Solutions</h4>
                            <p class="card-text">Tailored solutions designed specifically for your business needs. Lorem
                                ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                                consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-card">
                            <i class="bi bi-people-fill card-icon"></i>
                            <h4 class="card-title">Collaboration</h4>
                            <p class="card-text">We foster a collaborative environment to achieve great results. Lorem
                                ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                                consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-card">
                            <i class="bi bi-globe card-icon"></i>
                            <h4 class="card-title">Global Reach</h4>
                            <p class="card-text">Our services have a global impact, helping businesses worldwide. Lorem
                                ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                                consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-card">
                            <i class="bi bi-lightbulb-fill card-icon"></i>
                            <h4 class="card-title">Innovation</h4>
                            <p class="card-text">Innovative solutions are at the heart of our approach. Lorem ipsum
                                dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
                                adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-card">
                            <i class="bi bi-shield-fill-check card-icon"></i>
                            <h4 class="card-title">Security</h4>
                            <p class="card-text">We ensure that all our solutions are secure and trustworthy. Lorem
                                ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                                consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->



<section class="what-we-offer">
    <h2 class="section-title">What We Offer</h2>
    <hr class="section-line">
    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 card mb-3" id="what-we-do-card">
                <div class="card-body">
                    <img src="/assets/1.png" alt="">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum cumque
                        molestiae ut hic voluptas, laudantium recusandae fuga natus dicta aperiam ullam debitis
                        assumenda provident blanditiis fugiat quibusdam fugit sed iusto.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-lg-4 card mb-3" id="what-we-do-card">
                <div class="card-body">
                    <img src="/assets/5.png" alt="">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum cumque
                        molestiae ut hic voluptas, laudantium recusandae fuga natus dicta aperiam ullam debitis
                        assumenda provident blanditiis fugiat quibusdam fugit sed iusto.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-lg-4 card mb-3" id="what-we-do-card">
                <div class="card-body">
                    <img src="/assets/8.png" alt="">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum cumque
                        molestiae ut hic voluptas, laudantium recusandae fuga natus dicta aperiam ullam debitis
                        assumenda provident blanditiis fugiat quibusdam fugit sed iusto.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-lg-4 card mb-3" id="what-we-do-card">
                <div class="card-body">
                    <img src="/assets/7.png" alt="">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum cumque
                        molestiae ut hic voluptas, laudantium recusandae fuga natus dicta aperiam ullam debitis
                        assumenda provident blanditiis fugiat quibusdam fugit sed iusto.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-lg-4 card mb-3" id="what-we-do-card">
                <div class="card-body">
                    <img src="/assets/4.png" alt="">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum cumque
                        molestiae ut hic voluptas, laudantium recusandae fuga natus dicta aperiam ullam debitis
                        assumenda provident blanditiis fugiat quibusdam fugit sed iusto.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-lg-4 card mb-3" id="what-we-do-card">
                <div class="card-body">
                    <img src="/assets/2.png" alt="">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum cumque
                        molestiae ut hic voluptas, laudantium recusandae fuga natus dicta aperiam ullam debitis
                        assumenda provident blanditiis fugiat quibusdam fugit sed iusto.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</section>









<section class="experience-center py-5">
    <div class="container text-center">
        <h2 class="section-title">Experience Center</h2>
        <hr class="section-line">
        <p class="section-description">Explore the interactive dashboard and start your journey with us.</p>

        <div class="row">
            <div class="col-lg-12">
                <div class="experience-dashboard">
                    <img src="../../../assets/image/dashboard.jpg" alt="Dashboard" class="dashboard-photo">

                    <div class="blur-overlay">
                        <a href="target-page.html" class="btn btn-start">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="portfolio">
    <h2 class="section-title">Portfolio</h2>
    <hr class="section-line">
    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="b h2 left-hedding-mb" id="portfolio1">OfferBlock is Dominating the
                    <span class="banner_sty_heading font_Cantarell company_style_heading orange"> job offer issuing
                        software</span> Industry globally
                </p>
                <button type="button" class="btn btn-primary" id="butt1">Get Free Demo</button>
            </div>
            <div class="col-lg-6">
                <div class="md-list">
                    <ul>
                        <li>
                            <div class="model-detail" style="width: 80%;">
                                <p class="b heading orange">450+</p>
                                <p>Companies</p>
                            </div>
                        </li>
                        <li>
                            <div class="model-detail" style="margin-top:50px;width:80%">
                                <p class="b heading orange">2Lakh+</p>
                                <p>Employee</p>
                            </div>
                        </li>
                        <li>
                            <div class="model-detail" style="margin-top:-20px;width:80%">
                                <p class="b heading orange">5+</p>
                                <p>Country</p>
                            </div>
                        </li>
                        <li>
                            <div class="model-detail" style="margin-top:30px;width:80%">
                                <p class="b heading orange">40+</p>
                                <p>HR</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="clients">
    <h2 class="section-title">Clients</h2>
    <hr class="section-line">
    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="/assets/logo/10.png" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/logo/2.png" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/logo/3.jpeg" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/logo/4.png" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <img src="/assets/logo/5.png" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/logo/6.png" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/logo/7.png" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/logo/8.jpeg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <img src="/assets/logo/9.png" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/logo/11.png" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/logo/12.png" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/logo/14.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="box-section py-5">
    <div class="container">
        <div class="row justify-content-between align-items-center box-container">
            <div class="col-md-8">
                <!-- One-line text inside the box -->
                <p class="box-text">This is a sample line of text inside the box.</p>
            </div>
            <div class="col-md-4 text-right">
                <div class="button-group mt-3">
                    <a href="#" class="button-demo">Get A Demo<i class="bi bi-arrow-right-circle-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>